.contacts {
  width: 50%;
  min-height: 337px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $blue;
  border-top: 1px solid #74819C;
  border-right: 1px solid #74819C;
}

.contacts__cont {
  width: 400px;
  min-height: 202px;
  margin-top: 65px;
  margin-right: 35px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.contacts__head {
  @include marginnone;
  width: 400px;
  margin-bottom: 42px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: left;
}

.contacts__wrapper {
  width: 400px;
  min-height: 102px;
  display: flex;
  justify-content: space-between;
}

.contacts__wrap {
  width: 230px;
  min-height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--right {
    width: 130px;
    padding-left: 60px;
    border-left: 1px solid #74819C;
  }
}

.contacts__block {
  width: 230px;
  height: 51px;
  display: flex;
  flex-direction: column;

  &--top {
  }

  &--bottom {
    height: 65px;
    justify-content: flex-end;
  }

  &--right {
    width: 120px;
  }
}

.contacts__title {
  @include marginnone;
  margin-bottom: 5px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.contacts__text {
  @include marginnone;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;

  &--link {
    color: $blue;
    display: flex;

    &:hover,
    &:focus {
      color: $red;
    }
  }
}

.contacts__tel,
.contacts__mail {
  @include marginnone;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .contacts {
    width: 100%;
    min-height: 351px;
    border-top: none;
    border-right: none;
  }

  .contacts__cont {
    width: 460px;
    margin-top: 69px;
    min-height: 211px;
    margin-right: 5%;
  }

  .contacts__head {
    width: 460px;
    margin-bottom: 32px;
    font-size: 42px;
    line-height: 42px;
  }

  .contacts__wrapper {
    width: 459px;
    min-height: 129px;
  }

  .contacts__wrap {
    width: 266px;
    min-height: 130px;

    &--right {
      width: 190px;
      padding-left: 45px;
    }
  }

  .contacts__block {
    width: 266px;
    height: 60px;

    &--bottom {
      margin-top: 20px;
      height: 66px;
      justify-content: flex-end;
    }

    &--right {
      width: 190px;
    }
  }

  .contacts__title {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
  }

  .contacts__text {
    font-size: 18px;
    line-height: 27px;
  }

  .contacts__tel,
  .contacts__mail {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .contacts {
    width: 100%;
    min-height: 507px;
    border: none;
  }

  .contacts__cont {
    width: 290px;
    min-height: 367px;
    margin-top: 68px;
    margin-right: 0;
  }

  .contacts__head {
    width: 290px;
    margin-bottom: 36px;
    font-size: 32px;
    line-height: 32px;
  }

  .contacts__wrapper {
    width: 290px;
    min-height: 303px;
    flex-direction: column;
  }

  .contacts__wrap {
    width: 290px;
    min-height: 140px;

    &--right {
      width: 290px;
      min-height: 150px;
      padding-left: 0;
      border-left: none;
    }
  }

  .contacts__block {
    height: 70px;

    &--bottom {
      margin-top: 0px;
      height: 72px;
      justify-content: flex-end;
    }

    &--right {
      width: 190px;
      height: 70px;
      justify-content: flex-end;
    }
  }

  .contacts__title {
    font-size: 20px;
    line-height: 30px;
  }

  .contacts__text {
    font-size: 18px;
    line-height: 27px;
  }

  .contacts__tel,
  .contacts__mail {
    font-size: 18px;
    line-height: 27px;
  }

}
