.footer {
  min-width: 1200px;
  width: 100%;
  min-height: 445px;
  @include center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__wrapper {
  width: 100%;
  min-height: 337px;
  @include center;
  display: flex;
}

.footer__feedback {
  width: 50%;
  min-height: 337px;
  display: flex;
  justify-content: flex-end;
  background-color: $blue;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .footer {
    min-width: 768px;
    width: 100%;
    min-height: 789px;
    @include center;
    display: flex;
    flex-direction: column;
  }

  .footer__wrapper {
    width: 100%;
    min-height: 675px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .footer__feedback {
    width: 100%;
    min-height: 324px;
    justify-content: center;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .footer {
    min-width: 320px;
    width: 100%;
    min-height: 1153px;
    flex-direction: column;
  }

  .footer__wrapper {
    width: 100%;
    min-height: 893px;
    flex-direction: column;
  }

  .footer__feedback {
    width: 100%;
    min-height: 318px;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 67px;
  }
}
