.gym {
  position: relative;
  max-width: 1366px;
  width: 100%;
  min-height: 756px;
  @include marginnone;
  display: flex;
  background-color: $white;
  color: $blue;

  &::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    bottom: 170px;;
    left: 48%;
    background-image: url("../img/play.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
  }
}

.gym__container {
  position: relative;
  max-width: 1160px;
  width: 85%;
  @include center;
  min-height: 516px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gym__wrap {
  max-width: 1160px;
  width: 100%;
  @include center;
  margin-top: 120px;
  min-height: 401px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gym__cont {
  max-width: 355px;
  width: 32%;
  min-height: 314px;
  margin-top: 3.7%;
  margin-left: 5%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.gym__head {
  width: 325px;
  min-height: 37px;
  @include marginnone;
  margin-bottom: 12px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.04em;
}

.gym__detail {
  width: 330px;
  @include marginnone;
  margin-bottom: 40px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.gym__text {
  width: 355px;
  @include marginnone;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;

  &--more {
    margin-top: 5px;
  }
}

.gym__play {
  width: 364px;
  height: 228px;
  margin-left: 70px;
  margin-top: -120px;
}
