.gym {
  min-width: 1200px;
  width: 100%;
  min-height: 756px;
  @include marginnone;
  display: flex;
  background-color: $white;
  color: $blue;
}

.gym__container {
  position: relative;
  width: 1160px;
  @include center;
  min-height: 516px;
  display: flex;
}

.gym__wrap {
  width: 1160px;
  @include center;
  margin-top: 120px;
  min-height: 401px;
  display: flex;
}

.gym__cont {
  width: 415px;
  min-height: 314px;
  margin-top: 3.8%;
  padding-left: 60px;
  margin-right: 85px;
  display: flex;
  flex-direction: column;
}

.gym__head {
  width: 325px;
  min-height: 37px;
  @include marginnone;
  margin-bottom: 12px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.04em;
}

.gym__detail {
  width: 330px;
  @include marginnone;
  margin-bottom: 40px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.gym__text {
  width: 355px;
  @include marginnone;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;

  &--more {
    margin-top: 5px;
  }
}

.gym__back {
  position: relative;
  width: 660px;
  height: 401px;
  background-color: $light-gray;
  display: flex;
}

.gym__wrapper {
  position: absolute;
  width: 364px;
  height: 228px;
  top: 289px;
  right: 360px;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    bottom: 29.5%;
    left: 36.5%;
    background-image: url("../img/play.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
  }

  &:hover::after,
  &:focus::after {
    opacity: 0.8;
  }
}

.gym__play {
  width: 364px;
  height: 228px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .gym {
    position: relative;
    min-width: 768px;
    width: 100%;
    min-height: 854px;
  }

  .gym__container {
    width: 678px;
    @include center;
    min-height: 654px;
  }

  .gym__wrap {
    width: 678px;
    margin-top: 97px;
    min-height: 570px;
    display: flex;
    flex-direction: column;
  }

  .gym__cont {
    width: 678px;
    min-height: 176px;
    padding-left: 0px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gym__head {
    width: 280px;
    min-height: 32px;
    margin-bottom: 10px;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.037em;
  }

  .gym__detail {
    width: 280px;
    text-align: center;
    margin-bottom: 35px;
  }

  .gym__text {
    min-width: 502px;
    text-align: center;

    &--more {
      display: none;
    }
  }

  .gym__back {
    position: relative;
    width: 678px;
    height: 345px;
  }

  .gym__image {
    width: 678px;
    height: 345px;
  }

  .gym__wrapper {
    position: absolute;
    width: 266px;
    height: 167px;
    top: 259px;
    left: 205px;

    &::after {
      position: absolute;
      content: "";
      width: 73px;
      height: 73px;
      bottom: 48px;
      left: 95px;
      background-image: url("../img/play.png");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 10;
      cursor: pointer;
    }
  }

  .gym__play {
    width: 266px;
    height: 167px;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .gym {
    min-width: 320px;
    width: 100%;
    min-height: 925px;
  }

  .gym__container {
    width: 320px;
    @include center;
    min-height: 785px;
  }

  .gym__wrap {
    width: 320px;
    margin-top: 55px;
    min-height: 578px;
    flex-direction: column;
  }

  .gym__cont {
    width: 320px;
    min-height: 225px;
    padding-left: 0;
    margin-bottom: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .gym__head {
    width: 290px;
    min-height: 24px;
    margin-bottom: 7px;
    padding-left: 12px;
    font-size: 32px;
    line-height: 32px;
    text-align: left;
  }

  .gym__detail {
    width: 290px;
    margin-bottom: 25px;
    padding-left: 12px;
    text-align: left;
  }

  .gym__text {
    width: 255px;
    padding-left: 12px;
    text-align: left;

    &--more {
      display: none;
    }
  }

  .gym__back {
    position: relative;
    width: 320px;
    height: 313px;
  }

  .gym__image {
    width: 320px;
    height: 313px;
  }

  .gym__wrapper {
    position: absolute;
    width: 320px;
    height: 167px;
    top: 353px;
    left: 0;


    &::after {
      position: absolute;
      content: "";
      width: 73px;
      height: 73px;
      bottom: 47px;
      left: 125px;
      background-image: url("../img/play.png");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 10;
      cursor: pointer;
    }
  }

  .gym__play {
    width: 320px;
    height: 167px;
  }
}
