.membership {
  position: relative;
  min-width: 1200px;
  width: 100%;
  @include marginnone;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $light-gray;
  color: $blue;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/disk.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 287px;
    height: 494px;
    right: -2px;
    bottom: -150px;
  }
}

.membership__head {
  @include marginnone;
  width: 230px;
  margin-top: 115px;
  margin-bottom: 33px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.04em;
  color: $storm;
}

.membership__wrapper {
  @include marginnone;
  width: 1160px;
  @include center;
  min-height: 448px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .membership {
    position: relative;
    min-width: 768px;
    width: 100%;
    min-height: 1779px;

    &::before {
      width: 347px;
      height: 444px;
      background-image: url("../img/disc-tab.png");
      background-repeat: no-repeat;
      background-size: 100%;
      right: 0;
      bottom: -125px;
    }
  }

  .membership__head {
    width: 205px;
    margin-top: 97px;
    margin-bottom: 22px;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  .membership__wrapper {
    width: 436px;
    @include center;
    min-height: 1424px;
    flex-direction: column;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .membership {
    min-width: 320px;
    width: 100%;
    min-height: 1489px;

    &::before {
      display: none;
    }
  }

  .membership__head {
    width: 150px;
    margin-top: 67px;
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.038em;
  }

  .membership__wrapper {
    width: 290px;
    @include center;
    min-height: 1222px;
    flex-direction: column;
  }

  .membership__wrap {
    width: 290px;
    @include center;
    min-height: 1222px;
    margin-bottom: 70px;
  }
}
