.nav {
  width: 431px;
  min-height: 10px;
  @include marginnone;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  font-size: 14px;
  line-height: 16px;
  color: $white;

  &:hover,
  &:focus {
    color: $indigo;
  }
}


@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .nav {
    width: 391px;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .nav {
    max-width: 145px;
    min-height: 110px;
    margin-top: -42px;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .nav__item {
    width: 160px;
    margin-bottom: 15px;

    &--first {
      padding-top: 35px;
    }
  }
}
