.navigation {
  min-width: 1200px;
  width: 100%;
  @include center;
  min-height: 103px;
  display: flex;
  justify-content: center;
  background-color: $blue-black;
  color: $white;
}

.navigation__wrap {
  width: 1160px;
  min-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__cont {
  width: 796px;
  min-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__link {
  width: 89px;
  min-height: 20px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: $white;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $indigo;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .navigation {
    min-width: 768px;
    padding-top: 0px;
    width: 100%;
    @include center;
    min-height: 114px;
  }

  .navigation__wrap {
    width: 678px;
  }

  .navigation__cont {
    width: 535px;
    min-height: 18px;
  }

  .navigation__link {
    width: 82px;
    min-height: 18px;
    font-size: 24px;
    line-height: 24px;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .navigation {
    min-width: 320px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    @include center;
    min-height: 160px;
  }

  .navigation__wrap {
    width: 290px;
    min-height: 155px;
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation__cont {
    width: 145px;
    max-height: 93px;
    flex-direction: column;
  }

  .navigation__link {
    width: 68px;
    min-height: 15px;
    font-size: 20px;
    line-height: 20px;
    align-self: flex-start;
    margin-bottom: 25px;
  }
}
