.options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: none;
}

.options-show {
  display: block;
  z-index: 2;
}

.options__list {
  list-style: none;
  @include marginnone;
  width: 100%;
  @include center;
  display: flex;
  flex-wrap: wrap;
}

.options__item {
  width: 348px;
  min-height: 442px;
  margin-right: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  border: 6px solid transparent;
  cursor: pointer;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    border: 6px solid rgba(0, 0, 0, 0.01);
    border-image: linear-gradient(to top left, #00359f 0%, #d52154 100%);
    border-image-slice: 1;
  }
}

.options__head {
  width: 150px;
  @include marginnone;
  margin-top: 57px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: $blue;
  text-align: center;
}

.options__detail {
  min-width: 100px;
  @include marginnone;
  margin-bottom: 59px;
  font-size: 16px;
  line-height: 24px;
  color: $storm;
  text-align: center;
}

.options__button {
  width: 206px;
  height: 62px;
  border: 2px solid $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $blue;

  &:hover,
  &:focus {
    background: linear-gradient(111.72deg, #ED0233 17.6%, #003EB7 95.31%);
    color: $white;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .options__item {
    width: 432px;
    min-height: 434px;
    margin-bottom: 42px;
    margin-right: 0;
  }

  .options__head {
    margin-top: 50px;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    color: $blue;
    text-align: center;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .options__list {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .options__item {
    width: 278px;
    margin-right: 0;
    min-height: 371px;
    margin-bottom: 35px;

    &:nth-child(3n) {
      margin-bottom: 35px;
    }
  }

  .options__head {
    margin-top: 43px;
    margin-bottom: 9px;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
  }

  .options__detail {
    margin-bottom: 49px;
  }

}
