.page-header {
  min-width: 1200px;
  width: 100%;
  @include center;
  min-height: 658px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(90% 120% at 1% 90%, #003D85, #B80027);
  background-size: contain;
}

.page-header__wrap {
  width: 1160px;
  @include center;
  margin-top: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: $white;
}

.page-header__phone {
  width: 155px;
  color: $white;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.page-header__tel {
  @include marginnone;
}

.page-header__link {
  width: 89px;
  letter-spacing: 0.02em;
  color: $white;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .page-header {
    min-width: 768px;
    width: 100%;
    @include center;
    min-height: 554px;
    background: radial-gradient(90% 120% at 1% 90%, #003D85, #B80027);
  }

  .page-header__wrap {
    width: 678px;
    @include center;
    margin-top: 40px;
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .page-header__phone {
    width: 138px;
    text-align: right;
  }

  .page-header__link {
    width: 82px;
  }

  .page-header__tel {
    text-align: left;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .page-header {
    min-width: 320px;
    width: 100%;
    min-height: 491px;
    background:  radial-gradient(97% 150% at 1% 70%, #003D85, #B80027);
  }

  .page-header__wrap {
    width: 290px;
    @include center;
    margin-top: 20px;
    margin-bottom: 75px;
    font-size: 20px;
    line-height: 20px;
    justify-content: space-between;
  }

  .page-header__phone {
    width: 117px;
  }

  .page-header__link {
    width: 68px;
  }
}
