.promo {
  min-width: 1200px;
  width: 100%;
  min-height: 795px;
  @include center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
}

.promo__head {
  @include marginnone;
  width: 1160px;
  min-height: 37px;
  margin: 117px 0 55px 0;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $blue;
  text-align: center;
}

.promo__cont {
  width: 1160px;
  height: 462px;
  margin-bottom: 115px;
  display: flex;
  justify-content: center;
}

.promo__wrapper {
  width: 280px;
  height: 462px;
  background-color: $sky-blue;
  margin-right: 40px;
  display: flex;
}

.promo__image {
  width: 280px;
  height: 462px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .promo {
    min-width: 768px;
    width: 100%;
    min-height: 982px;
  }

  .promo__head {
    @include marginnone;
    width: 768px;
    min-height: 32px;
    margin: 98px 0 41px 0;
    font-size: 42px;
    line-height: 42px;
  }

  .promo__cont {
    width: 678px;
    height: 462px;
    margin-bottom: 0px;
    flex-wrap: wrap;
  }

  .promo__wrapper {
    width: 399px;
    height: 462px;
    margin-right: 0;
    margin-bottom: 25px;
  }

  .promo__image {
    width: 399px;
    height: 462px;

  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .promo {
    min-width: 320px;
    width: 100%;
    min-height: 1288px;
  }

  .promo__head {
    @include marginnone;
    width: 320px;
    min-height: 24px;
    margin: 70px 0 44px 0;
    font-size: 32px;
    line-height: 32px;
  }

  .promo__cont {
    width: 290px;
    min-height: 1080px;
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .promo__wrapper {
    width: 290px;
    height: 299px;
    margin-right: 0;
    margin-bottom: 25px;
  }

  .promo__image {
    width: 290px;
    height: 299px;
  }
}
