.soc {
  list-style: none;
  width: 16px;
  min-height: 75px;
  margin-left: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.soc__item {
  min-height: 9px;
  margin-top: 22px;
}

.soc__item a {
  color: $white;

  &:hover,
  &:focus {
    color: $indigo;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .soc {
    display: none;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .soc {
    display: none;
  }
}
