.time {
  list-style: none;
  @include marginnone;
  width: 343px;
  @include center;
  min-height: 38px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.time__item {
  font-size: 20px;
  line-height: 30px;
  min-height: 42px;
  display: flex;
}

.time__link {
  @include marginnone;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  min-height: 40px;
  color: rgba(16, 38, 84, 0.5);
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    border-bottom: 2px solid red;
    box-sizing: border-box;
    margin: 0 0 -2px 0;
  }
}

.time-active {
  color: $blue;
  border-bottom: 2px solid red;
  box-sizing: border-box;
  margin: 0 0 -2px 0;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .time {
    width: 330px;
    min-height: 34px;
    margin-bottom: 45px;
  }

  .time__item {
    font-size: 18px;
    line-height: 27px;
  }

  .time__link {
    font-size: 18px;
    line-height: 27px;
    height: 48px;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .time {
    width: 290px;
    min-height: 31px;
    margin-bottom: 36px;
  }

  .time__item {
    font-size: 16px;
    line-height: 24px;
  }

  .time__link {
    @include marginnone;
    font-size: 16px;
    line-height: 24px;
    min-width: 60px;
    height: 46px;
    text-align: left;

    &--six {
      min-width: 74px;
    }
  }
}
