.time {
  list-style: none;
  @include marginnone;
  min-width: 345px;
  width: 25%;
  @include center;
  min-height: 34px;
  margin-bottom: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.time__item {
  font-size: 20px;
  line-height: 30px;
  min-height: 38px;
  display: flex;
}

.time__link {
  @include marginnone;
  font-size: 20px;
  line-height: 30px;
  min-height: 38px;
  color: rgba(16, 38, 84, 0.5);
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    border-bottom: 2px solid red;
    box-sizing: border-box;
    margin: 0 0 -2px 0;
  }
}

.time-active {
  border-bottom: 2px solid red;
  box-sizing: border-box;
  margin: 0 0 -2px 0;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .time {
    min-width: 335px;
    width: 43.6%;
    min-height: 34px;
    margin-bottom: 45px;
  }

  .time__item {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .time {
    min-width: 290px;
    max-width: 360px;
    width: 90.6%;
    min-height: 31px;
    margin-bottom: 43px;
  }

  .time__item {
    font-size: 16px;
    line-height: 24px;
  }

  .time__link {
    @include marginnone;
    font-size: 16px;
    line-height: 24px;
  }
}
