$desktop-width: 1199px;
$tablet-width: 768px;
$mobile-width-only: 767px;
$mobile-width: 320px;
$white: #ffffff;
$blue: #102654;
$light-gray: #f8f9fc;
$storm: #495a7d;
$navy-blue: #103aae;


@mixin marginnone {
  margin: 0;
  padding: 0;
}

@mixin center {
  margin: 0 auto;
}

@mixin line {
  border: solid 1px red;
}
