@import "blocks/var-mixin.scss";
@import "blocks/page-header.scss";
@import "blocks/home.scss";
@import "blocks/soc.scss";
@import "blocks/page-main.scss";
@import "blocks/gym.scss";
@import "blocks/membership.scss";
@import "blocks/time.scss";
@import "blocks/options.scss";
@import "blocks/price.scss";
@import "blocks/games.scss";
@import "blocks/period.scss";
@import "blocks/trainers.scss";
@import "blocks/info.scss";
@import "blocks/advantages.scss";
@import "blocks/unit.scss";
@import "blocks/promo.scss";
@import "blocks/chief.scss";
@import "blocks/stock.scss";
@import "blocks/comment.scss";
@import "blocks/footer.scss";
@import "blocks/form.scss";
@import "blocks/contacts.scss";
@import "blocks/navigation.scss";
@import "blocks/nav.scss";
@import "blocks/social.scss";



@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/bebasneue.woff2") format("woff2"),
    url("../fonts/bebasneue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensed.woff2") format("woff2"),
    url("../fonts/robotocondensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensedbold.woff2") format("woff2"),
    url("../fonts/robotocondensedbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  width: 100%;
  @include center;
  // overflow-x: hidden;
}

body {
  min-width: 320px;
  width: 100%;
  @include center;
  // padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  // overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
